<!-- Title: Personal blog. 
Author: Lilian Umeakunne
Date: 20/07/2021
Project: Personal blog built using Node and express.
Current file: This is the about.ejs file setup for the about page. -->

<%- include('partials/header'); -%>

<h1>About</h1>
<p> <%=aboutUs %></p>

<%- include('partials/footer'); -%>