<!-- Title: Personal blog. 
Author: Lilian Umeakunne
Date: 20/07/2021
Project: Personal blog built using Node and express.
Current file: This is the contact.ejs file setup for the contact page. -->

<%- include('partials/header'); -%>
<h1>Contact Us</h1>
<p> <%= contactUs %></p>

<%- include('partials/footer'); -%>